@import "~bootstrap/dist/css/bootstrap.min.css";
@import '@coreui/coreui/dist/css/coreui.min.css';

body{
    background-color: #C7F9CC;
}

.navContainer{
    background-color: #57CC99;
}

.navLink{
    border: 10px;
    background: #38A3A5;
    color: white !important;
    border-radius: 14px;
    padding: 9px;
    padding-right: 30px !important;
    padding-left: 30px !important;
    margin-left: 20px;
    margin-right: 20px;
    text-decoration: none;
}