.text {
    color: white;
    padding: 44px;
    border-radius: 26px;
}

.par{
    font-size: 21px;
    margin-top: 102px;
}

.fild{
    background-color: #57CC99;
    border-style: none;
    border-radius: 6px;
    padding: 10px;
    padding-right: 250px;
    display: block;
    margin-bottom: 10px;
}